@model ThingsAndThinkers.ViewModels.CreateThingFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@ViewBag.HelloName

@using (Html.BeginForm("Create", "Things"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Thing</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*@Html.HiddenFor(model => model.ThingID)
        @Html.HiddenFor(model => model.Thinker.Id)*@

    <div class="form-group">
        @Html.LabelFor(model => model.ThingNameVM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThingNameVM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ThingNameVM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThingCatIDVM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ThingCatIDVM, new SelectList(Model.ThingCatListable, "ThingCatID", "ThingCatName"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ThingCatIDVM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThingCatIconVM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThingCatIconVM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ThingCatIconVM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}